/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: var(--body-bg-color);
    color: var(--text-color);
}

:root {
    /* Font Sizes */
    --h1-font-size: 2.5rem;
    /* H1 font size */
    --h2-font-size: 2rem;
    /* H2 font size */
    --h3-font-size: 1.75rem;
    /* H3 font size */
    --h4-font-size: 1.5rem;
    /* H4 font size */
    --h5-font-size: 1.25rem;
    /* H5 font size */
    --h6-font-size: 1rem;
    /* H6 font size */
    --p-font-size: 1rem;
    /* Paragraph font size */

    /* Background Colors */
    --body-bg-color: #00280a;
    /* Body background color */

    /* Text Colors */
    --text-color: #fff;
    /* Default text color */
    --text-color-accent: #FFD743;
    /* Text color for links and other accents */
    --text-color-light: #3D9051;
    /* Lighter shade of text color */

    /* Border Radius */
    --border-radius: 0.25rem;
    /* Border radius for elements */
    --border-radius-lg: 0.5rem;
    /* Larger border radius for elements */
}

/* Header styles */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 1rem;
    font-weight: 600;
    line-height: 1.2;
    color: var(--text-color);
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--h4-font-size);
}

h5 {
    font-size: var(--h5-font-size);
}

h6 {
    font-size: var(--h6-font-size);
}

p {
    font-size: var(--p-font-size);
}

span {
    color: var(--text-color-accent);
}

button {
    cursor: pointer;
    font-size: 1.3rem;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--text-color-accent);
    color: var(--text-color);
    transition: background-color 0.3s;
}

button:hover {
    background-color: var(--text-color-light);
}

a {
    color: var(--text-color);
    font-weight: 600;
    text-decoration: none;
    transition: color 0.3s;
}

a:focus {
    background-color: var(--text-color-accent) ;
}

.full-w {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.boxed-w {
    position: relative;
    width: 80%;
    margin: auto;
}

/* Utility classes */
.text-center {
    text-align: center;
}

.text-white {
    color: var(--text-color);
}

.text-light {
    color: var(--text-color-light);
}

.text-accent {
    color: var(--text-color-accent);
}

.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  
  .visible {
    opacity: 1;
    transform: translateY(0);
  }
  

/* Global styles */

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    background-color: var(--body-bg-color);
    color: var(--text-color);
}

header.full-w {
    position: fixed;
    z-index: 99;
    padding: 1.5rem;
    height: 120px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    position: relative;
    display: flex;
    align-items: center;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-margin-top: 100px;
}

ul.menu-container {
    position: absolute;
    background-color: #fff;
    top: 104px;
    height: 0;
    color: #000;
    border-radius: 5px;
    transition: height 0.5s ease-in-out;
}

ul.menu-container.active {
    height: auto;
    transition: height 0.5s ease-in-out;
    box-shadow: 0 0 15px rgba(255, 255, 255, 1);
}

ul.menu-container:before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #f2f2f2;
    top: -20px;
    right: 20px;
}

ul.menu-container li:nth-child(odd) {
    background-color: #f2f2f2;
    padding: 1em 2em;
}

ul.menu-container li:nth-child(even) {
    background-color: #fff;
    padding: 1em 2em;
}

ul.menu-container li:first-child {
    border-radius: 5px 5px 0 0;
}

ul.menu-container li:last-child {
    border-radius: 0 0 5px 5px;
}

nav img {
    width: 20%;
}

li#duckData {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin-right: 20px;
}

li#duckData:hover img {
    cursor: pointer;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}

#duckDataMenu {
    display: none;
    transition: max-height 0.5s ease-in-out;
    max-height: 0;
    overflow: hidden;
}

#duckDataMenu.active {
    display: block;
    max-height: 500px;
}

section.parallex {
    position: relative;
    background-color: #000;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.parallex::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 70px;
    background: linear-gradient(to top, var(--body-bg-color), rgba(0, 0, 0, 0));
    z-index: 13;
}

.para-class {
    pointer-events: none;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

.parallex .bg-img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2800px;
    z-index: 1;
}

.parallex .palmboom {
    position: absolute;
    top: 50%;
    left: 50px;
    height: 100%;
    width: auto;
    z-index: 3;
}

.parallex .meeuw {
    position: absolute;
    top: 20%;
    left: 80%;
    width: 100px;
    z-index: 4;
}

.parallex .bos {
    position: absolute;
    top: 100%;
    margin-top: -50px;
    left: 0;
    margin-left: 200px;
    width: 400px;
    z-index: 5;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

.parallex .duck {
    position: absolute;
    top: calc(100% - 200px);
    right: 90px;
    width: 100px;
    z-index: 6;
}

.parallex .rots {
    position: absolute;
    top: calc(100% - 110px);
    left: calc(100% - 225px);
    width: 450px;
    z-index: 7;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

.parallex .text {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    text-align: center;
    text-transform: uppercase;
    color: var(--text-color-accent);
    pointer-events: auto;
}

.text h2 {
    font-weight: 100;
    font-size: 4rem;
    line-height: 4rem;
}

.text h1 {
    font-weight: 800;
    font-size: 6rem;
    line-height: 6rem;
}


section.career,
section.projects,
section.model {
    margin-top: 150px;
    margin-bottom: 150px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
}

section.career hgroup,
section.projects hgroup,
section.model hgroup {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}

.career hgroup h3,
.projects hgroup h3,
section.model hgroup h3 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1.3em;
    line-height: 1.3em;
}

.career hgroup h2,
.projects hgroup h2,
section.model hgroup h2 {
    font-weight: 800;
    text-transform: uppercase;
    font-size: 3em;
    width: 70%;
    margin: auto;
}

.career .timeline {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.career .timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 2px;
    height: 100%;
    background-color: var(--text-color-accent);
}

.career .timeline article {
    position: relative;
    width: calc(100% / 3 - 30px);
    justify-content: flex-start;
    align-items: center;
    margin: 2rem 0;
    display: flex;
    flex-wrap: wrap;
}

.career .timeline article:nth-child(odd) {
    left: 80%;
    opacity: 0;
    margin-left: 60px;
    transition: all 1s ease-in-out;
    /* Apply smooth transition */
}

.career .timeline article.visible:nth-child(odd) {
    left: 50%;
    opacity: 1;
}

.career .timeline article:nth-child(even) {
    left: 20%;
    opacity: 0;
    transform: translateX(calc(-100% - 110px));
    margin-left: 60px;
    transition: all 1s ease-in-out;
}

.career .timeline article.visible:nth-child(even) {
    left: 50%;
    opacity: 1;
}

.career .timeline article:after {
    content: "";
    position: absolute;
    background-color: var(--text-color-accent);
    height: 20px;
    width: 20px;
    left: -70px;
    top: 10px;
    border-radius: 1em;
}

.career .timeline article:nth-child(even):after {
    left: unset;
    right: -60px;
    top: 10px;
}

.career .timeline article span {
    background: var(--text-color-accent);
    color: var(--text-color);
    padding: 0.3em 1em;
    border-radius: 4em;
    font-size: 1.3em;
    margin-bottom: 20px;
    margin-right: 20px;
}

.career .timeline article span:last-of-type {
    margin-right: 0px;
}

.career .timeline article p {
    font-weight: 100;
    font-size: 1.2em;
    line-height: 1.5em;
}

section.projects {
    justify-content: center;
}

.projecten {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 0;
}

.flip-box {
    background-color: transparent;
    width: calc(100% / 3 - 20px);
    height: 250px;
    cursor: pointer;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 6px;
}

.flip-box-front {
    background-color: #bbb;
    color: black;
    margin: 0;
}

.flip-box-front::after {
    content: "Meer weten?";
    top: 0;
    left: 0;
    position: absolute;
    background-color: var(--text-color-light);
    color: var(--text-color);
    padding: 5px 10px;
    font-size: 10px;
}

.flip-box-front img {
    width: 100%;
    object-fit: cover;
    height: 250px;
    border-radius: 6px;
}

.flip-box-back {
    background-color: #f2f2f2;
    color: black;
    transform: rotateY(180deg);
    margin: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flip-box-back h3,
.flip-box-back p {
    color: #000;
}

section.model spline-viewer {
    background: #f2f2f2;
    border-radius: 10px;
}

section.pre-footer {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(255 255 255 / 58%);
    padding: 30px;
    border-radius: 5px;
    width: 60%;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(5px);
}

footer {
    background-color: #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 5em 0;
    padding-top: 10em;
}

footer .footer-logo img {
    width: 100%;
}

footer section,
footer nav {
    width: calc(100% / 3 - 20px);
}

footer nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

footer nav ul {
    display: block;
}

footer nav ul li {
    margin-left: -10px;
}

footer .boxed-w {
    display: flex;
    justify-content: space-between;
}

section.river {
    position: relative;
    width: 100%;
    top: 0px;
    height: 150px;
    z-index: 2;
}

section.river img {
    bottom: 0;
    width: 100%;
    position: absolute;
}

section.river img:nth-child(2) {
    width: 6vw;
    height: auto;
    animation: floating 14s linear infinite;
}

section.river img:nth-child(3) {
    bottom: -2vw;
}

@keyframes floating {
    0% {
        left: 0;
        transform: translateY(1vw);
    }
    3% {
        transform: translateY(-5vw);
    }
    10% {
        transform: translateY(1vw);
    }
    15% {
        transform: translateY(-4vw);
    }
    20% {
        transform: translateY(1vw);
    }
    33% {
        transform: translateY(-5vw);
    }
    36% {
        transform: translateY(1vw);
    }
    39% {
        transform: translateY(-6vw);
    }
    42% {
        transform: translateY(-6vw);
    }
    46% {
        transform: translateY(1vw);
    }
    49% {
        transform: translateY(1vw);
    }
    50% {
        left: calc(100% - 6vw);
        transform: translateY(-4vw);
    }
    51% {
        transform: translateY(2vw);
    }
    54% {
        transform: translateY(1vw);
    }
    58% {
        transform: translateY(-5vw);
    }
    61% {
        transform: translateY(-5vw);
    }
    64% {
        transform: translateY(1vw);
    }
    67% {
        transform: translateY(-5vw);
    }
    80% {
        transform: translateY(1vw);
    }
    85% {
        transform: translateY(-4vw);
    }
    90% {
        transform: translateY(2vw);
    }
    97% {
        transform: translateY(-5vw);
    }
    100% {
        left: 0;
        transform: translateY(1vw);
    }
  }


@media only screen and (max-width: 1200px) {
    .career .timeline article {
        width: calc(100% / 2 - 30px);
    }

    .projecten {
        justify-content: center;
    }

    .flip-box {
        width: calc(100% / 2 - 30px);
        margin-bottom: 30px;
        margin-left: 30px;
    }

    .flip-box:last-child{
        margin-left: 0;
    }

  }

  @media only screen and (max-width: 1024px) {
    .flip-box {
        width: calc(100% - 30px);
        margin-bottom: 30px;
        margin-left: 0px;
    }
  }

  @media only screen and (max-width: 768px) {
    .text h2 {
        font-size: 3rem;
        line-height: 3rem;
    }
    .text h1 {
        font-size: 4rem;
        line-height: 4rem;
    }

    .career hgroup h2, .projects hgroup h2, section.model hgroup h2 {
        font-size: 2em;
        width: 80%;

    }

    .career .timeline article span {
        font-size: 1em;
    }

    .career .timeline article {
        width: calc(100% - 30px);
    }

    .career .timeline article:nth-child(even) {
        left: 80%;
        transform: none;
    }

    .career .timeline article.visible:nth-child(odd),
    .career .timeline article.visible:nth-child(even) {
        left: 0;
        padding-right: 30px;
    }

    .career .timeline article:nth-child(even):after {
        left: -70px;
        right: unset;
    }

    .career .timeline::before {
        left: 0;
    }

    section.model spline-viewer {
        height: 80vh;
    }

    section.pre-footer {
        width: 80%;
    }

  }

  @media only screen and (max-width: 560px) {
    footer .boxed-w {
        flex-direction: column;
    }

    footer section, footer nav {
        width: calc(100% - 20px);
    }
    footer nav ul li {
        margin-left: 0px;
    }

    footer nav {
        align-items: baseline;
    }

    footer nav.footer-nav{
        margin-bottom: 20px;
    }

  }
  